USE [master]
GO
/****** Object:  Database [GanjaBreadCompany]    Script Date: 9/29/2019 11:10:51 AM ******/
CREATE DATABASE [GanjaBreadCompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GanjaBreadCompany', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GanjaBreadCompany.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GanjaBreadCompany_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GanjaBreadCompany_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GanjaBreadCompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GanjaBreadCompany]
GO
/****** Object:  Table [dbo].[CountForDays]    Script Date: 9/29/2019 11:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountForDays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubsidiaryId] [int] NOT NULL,
	[MonthId] [int] NOT NULL,
	[Year] [int] NULL,
	[MarketName] [nvarchar](50) NULL,
	[Day1] [int] NULL,
	[Day2] [int] NULL,
	[Day3] [int] NULL,
	[Day4] [int] NULL,
	[Day5] [int] NULL,
	[Day6] [int] NULL,
	[Day7] [int] NULL,
	[Day8] [int] NULL,
	[Day9] [int] NULL,
	[Day10] [int] NULL,
	[Day11] [int] NULL,
	[Day12] [int] NULL,
	[Day13] [int] NULL,
	[Day14] [int] NULL,
	[Day15] [int] NULL,
	[Day16] [int] NULL,
	[Day17] [int] NULL,
	[Day18] [int] NULL,
	[Day19] [int] NULL,
	[Day20] [int] NULL,
	[Day21] [int] NULL,
	[Day22] [int] NULL,
	[Day23] [int] NULL,
	[Day24] [int] NULL,
	[Day25] [int] NULL,
	[Day26] [int] NULL,
	[Day27] [int] NULL,
	[Day28] [int] NULL,
	[Day29] [int] NULL,
	[Day30] [int] NULL,
	[Day31] [int] NULL,
	[PriceOfOne] [float] NULL,
	[TotalCount] [int] NULL,
	[TotalPrice] [money] NULL,
	[CreatedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_Days] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarketList]    Script Date: 9/29/2019 11:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarketList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarketName] [nvarchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_MarketList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Months]    Script Date: 9/29/2019 11:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Months](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MonthName] [nvarchar](50) NOT NULL,
	[MonthNumber] [int] NOT NULL,
 CONSTRAINT [PK_Months] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price]    Script Date: 9/29/2019 11:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [money] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[Modifieddate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_Price] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subsidiary]    Script Date: 9/29/2019 11:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subsidiary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Subsidiary] [nvarchar](50) NOT NULL,
	[MarketId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_Subsidiary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/29/2019 11:10:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserSurname] [nvarchar](50) NOT NULL,
	[UserEmail] [varchar](50) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[Modifieddate] [datetime] NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CountForDays]  WITH CHECK ADD  CONSTRAINT [FK_CountForDays_Months] FOREIGN KEY([MonthId])
REFERENCES [dbo].[Months] ([Id])
GO
ALTER TABLE [dbo].[CountForDays] CHECK CONSTRAINT [FK_CountForDays_Months]
GO
ALTER TABLE [dbo].[CountForDays]  WITH CHECK ADD  CONSTRAINT [FK_CountForDays_Subsidiary] FOREIGN KEY([SubsidiaryId])
REFERENCES [dbo].[Subsidiary] ([Id])
GO
ALTER TABLE [dbo].[CountForDays] CHECK CONSTRAINT [FK_CountForDays_Subsidiary]
GO
ALTER TABLE [dbo].[MarketList]  WITH CHECK ADD  CONSTRAINT [FK_MarketList_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MarketList] CHECK CONSTRAINT [FK_MarketList_Users]
GO
ALTER TABLE [dbo].[Subsidiary]  WITH CHECK ADD  CONSTRAINT [FK_Subsidiary_MarketList] FOREIGN KEY([MarketId])
REFERENCES [dbo].[MarketList] ([Id])
GO
ALTER TABLE [dbo].[Subsidiary] CHECK CONSTRAINT [FK_Subsidiary_MarketList]
GO
USE [master]
GO
